// Colors
$clr1: #e3e2e2ff;
$clr2: white;
$clr3: rgba(0, 0, 0, 0.12);
$clr4: #f70000;

// Breakpoints
$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$small-desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1280px;
$wide-desktop-breakpoint: 1440px;
